<% if policy(@bookings).index? %>

<div class="row d-flex">
  <% @bookings.each do |booking| %>
    <% car = booking.car %>
    <% car_owner = car.user %>
    <div class="col-4 p-5">
      <div class="card" style="width: 18rem;">
        <img src="<%= car.image_one %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= car.model %></h5>
          <p class="card-text"><%= car.address %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= car.year %></li>
          <li class="list-group-item"><%= car.colour %></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link"><%= link_to 'edit booking', edit_booking_path(booking) %></a>
          <a href="#" class="card-ling"><%= link_to 'delete booking',
                                      booking_path(booking),
                                      method: :delete,
                                      data: {confirm: 'Are you sure you want to cancel this booking?'} %></a>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>


