<div class="container">
    <h1 class="ml-4" style="margin-left: 80px; font-family: Fugaz One;">Bookings</h1>
    <% if policy(@bookings).index? %>
    <div class="row d-flex">
      <% @bookings.each do |booking| %>
        <% car = booking.car %>
        <% car_owner = car.user %>
        <div class="col-4 p-5">
          <div class="card shadow ">
            <%= cl_image_tag car.photo.key, :class => "card-img-top mark-card-image" %>
              <div class="card-body">
                <h5 class="card-title"><%= car.model %></h5>
                <p class="card-text font-italic"><%= car.address %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Year: <%= car.year %></li>
                <li class="list-group-item">Colour: <%= car.colour %></li>
                <li class="list-group-item">£<%= car.price %> / hour</li>
              <% if booking.cancelled == true %>
                <li class="list-group-item">Booking cancelled</li>
              <% else %>
                <li class="list-group-item" style="border: none">Booking Period: <%= booking.start_time.strftime("%-d/%-m/%Y") %> to <%= b
                ooking.end_time.strftime("%-d/%-m/%Y") %></li>
              <% end %>
              </ul>
              <% unless booking.cancelled == true %>
                <div class="card-body">
                  <%= link_to 'edit booking', edit_booking_path(booking), class: "btn btn-outline-secondary" %>
                  <%= link_to 'cancel booking',
                                              cancel_booking_path(booking),
                                              class: "btn btn-outline-secondary",
                                              data: {confirm: 'Are you sure you want to cancel this booking?'} %>
                </div>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
