<div class="container">
  <% user = car.user %>
  <div class="card" style="width: 18rem;">
    <%= cl_image_tag car.photo.key %>
    <div class="card-body">
      <h5 class="card-title"><%= car.model %></h5>
      <p class="card-text"><%= car.address %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Year: <%= car.year %></li>
      <li class="list-group-item">Colour: <%= car.colour %></li>
      <li class="list-group-item">Owner: <%= user.username %></li>
      <li class="list-group-item">£<%= car.price %> / hour</li>
    </ul>
  </div>
</div>
