<% content_for :navbar do %>
      <%= render './components/navbar2' %>
 <% end %>
  <% if @show_map %>
  <div class="d-flex align-items-baseline">
    <h1 style="margin-left: 80px; font-family: Fugaz One;">Cars</h1>
    <p class="ml-1">we found <strong><%= @cars.count %></strong> that match your search</p>
  </div>
  <div class="main-container-map-index">
    <div class="cards-map-index">
      <% @cars.each do |car| %>
      <div class="card shadow">
          <%= cl_image_tag car.photo.key, :class => "card-img-top mark-card-image" %>
          <div class="card-body pb-0">
            <% if car.model.length < 16 %>
              <h5 class="card-title text-center" style="font-size: 32px; font-family: Fugaz One;"><%= car.model %></h5>
            <% else %>
              <h5 class="card-title text-center" style="font-size: 24px; font-family: Fugaz One;"><%= car.model %></h5>
            <% end %>
          </div>
          <div class="mx-2 d-flex align-items-center justify-content-between">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="font-family: 'Open Sans', sans-serif;"><%= car.city %></li>
              <li class="list-group-item" style="font-family: 'Open Sans', sans-serif;">Year: <%= car.year %></li>
              <li class="list-group-item" style="font-family: 'Open Sans', sans-serif;">£<%= car.price %> / day</li>
            </ul>
            <a href="#" class="card-link"><%= link_to 'More info', car, :class => "btn btn-outline-dark" %></a>
          </div>
        </div>
      <% end %>
    </div>
    <div id="map"
      style="width: 100%; height: 100vh; position: sticky; top: 100px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <% else %>

  <div class="container-fluid" style="margin-top: -90px;">
  <div class="hero-container">
    <div class="hero-text">
      <h1>classicar</h1>
      <p>Find the car of your dreams.</p>
      <p>Cruise in style.</p>
    </div>
  </div>

  <hr style="color: gray; margin: 40px 80px 20px 80px;">

  <div class="container">
  <h1 class="ml-4" style="margin-left: 80px; font-family: Fugaz One;">Cars</h1>
  <%= link_to "Add car", new_car_path, :class => "btn btn-dark ml-4" %>
  <div class="row d-flex">
    <% @cars.each do |car| %>
      <div class="col-4 p-5" id="fade">
        <div class="card shadow">
          <%= cl_image_tag car.photo.key, :class => "card-img-top mark-card-image" %>
          <div class="card-body">
            <% if car.model.length < 16 %>
              <h5 class="card-title text-center" style="font-size: 32px; font-family: Fugaz One; height: 50px;"><%= car.model %></h5>
            <% else %>
              <h5 class="card-title text-center" style="font-size: 24px; font-family: Fugaz One; height: 50px;"><%= car.model %></h5>
            <% end %>
          </div>
          <div class="mx-5 d-flex align-items-center justify-content-between">
            <ul class="list-group list-group-flush pb-2">
              <li class="list-group-item"><%= car.city %></li>
              <li class="list-group-item">Year: <%= car.year %></li>
              <li class="list-group-item">£<%= car.price %> / day</li>
            </ul>
            <a href="#" class="card-link"><%= link_to 'More info', car, :class => "btn btn-outline-dark" %></a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>




