<h1>Cars</h1>
<div class="container">
  <%= link_to "Add car", new_car_path %>

  <%= form_tag cars_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a car"
    %>
    <br>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="row row-cols-3 d-flex justify-content-between">
    <% @cars.each do |car| %>
      <% user = car.user %>
      <div class="col mb-4">
        <div class="card" style="width: 18rem;">
          <%= cl_image_tag car.photo.key %>
          <div class="card-body">
            <h5 class="card-title"><%= car.model %></h5>
            <p class="card-text"><%= car.address %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Year: <%= car.year %></li>
            <li class="list-group-item">Colour: <%= car.colour %></li>
            <li class="list-group-item">Owner: <%= user.username %></li>
            <li class="list-group-item">£<%= car.price %> / hour</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link"><%= link_to 'More info', car %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




<!--


<>
    <thead>
        <tr>
            <th>Name</th>
            <th>User</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @cars.each do |car| %>
            <tr>
                <td><%= car.model %></td>
                <td><%= car.user_id %></td>
                <%= link_to 'Show', car %>
                <% if policy(car).edit? %>
                    <td><%= link_to 'Edit', edit_car_path(car) %></td>
                <% end %>
                <% if policy(car).destroy? %>
                    <td><%= link_to 'Delete', car, method: :delete, data: { confirm: "Are you sure?"} %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>

<br>


<% if policy(Car).new?  %>
    <%= link_to 'New Car', new_car_path %>
<% end %>
 -->
