<div class="container">
  <div class="add-car-form shadow rounded">
    <h1 class="fugaz-font m-3" style="font-size: 24px; text-align: center;">Add your car</h1>
    <%= simple_form_for(@car) do |f| %>
    <div class="row">
      <div class="col">
      <%= f.input :model, required: false %>
      
      </div>
      <div class="col">
      <%= f.input :year, required: false %>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <%= f.input :seats, required: false %>
      </div>
      <div class="col">
      <%= f.input :colour, required: false %>
      </div>
    </div>
      <%= f.input :address, required: false %>
      <%= f.input :price, required: false %>
      <%= f.input :description, required: false %>
    <div class="row">
      <div class="col d-flex justify-content-start">
      <%= f.input :photo, as: :file %>
      </div>
      <div class="col d-flex justify-content-end">
      <%= f.submit "Create Car", class: "btn btn-outline-dark add-car-button mt-4" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

