<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2 class="show-viewing-title">You are viewing <span class="font-italic"><%= @car.model %></span></h2>
      <div class="card shadow rounded">
          <div class="card-horizontal">
              <div class="img-square-wrapper align-self-center">
                <%= cl_image_tag(@car.photo.key, :width => 500, :crop => "pad") %>
              </div>
              <div class="card-body">
                  <h4 class="card-title"><%= @car.model %></h4>
                  <ul class="list-group list-group-flush ul-no-pad">
                    <li class="list-group-item">Year: <%= @car.year %></li>
                    <li class="list-group-item">Colour: <%= @car.colour %></li>
                    <li class="list-group-item">Address: <%= @car.address %></li>
                    <li class="list-group-item">£<%= @car.price %> / hour</li>
                  </ul>
                  <%= link_to 'book car', new_car_booking_path(@car), class: "btn btn-outline-dark mt-3" %>
                    <% if policy(@car).destroy? %>
                      <a href="#" class="card-link"><%= link_to 'edit car', edit_car_path(@car) %></a>
                      <a href="#" class="card-link"><%= link_to 'delete car',
                                                                car_path(@car),
                                                                method: :delete,
                                                                data: { confirm: 'Are you sure you want to delete this car?'} %></a>
                      <a href="#" class="card-link"><%= link_to 'add review', new_car_review_path %></a>
                    <% end %>
              </div>
          </div>
          <div class="card-footer">
              <small class="text-muted">Owner: <%= @user.username %></small>
          </div>
      </div>
    </div>
  </div>
</div>

